<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		
	<!-- 引用命名空间以简化配置 -->
	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="com.ben.web" use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 定义券商登录成功后默认跳转的页面 -->
	<mvc:view-controller path="/" view-name="redirect:/index" />
 	<!-- 当在web.xml 中 DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
	<mvc:default-servlet-handler />
	
	<!-- request请求参数绑定类型定义-->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<!-- 此处可以定义多种转换类型 -->
				<bean class="com.ben.util.DateConverter" />
			</set>
		</property>
	</bean>
	
	<!-- 定义JSP -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	 

	<context:property-placeholder
		ignore-unresolvable="true"
		location="classpath*:/application.properties,
          			  classpath*:/application.local.properties" />

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- default -1 no limit -->
		<property name="maxUploadSize">
			<value>100024</value>
		</property>
		<!-- default:10240 -->
		<property name="maxInMemorySize">
			<value>1738400</value>
		</property>
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<!-- 进入控制器拦截 -->
		<property name="resolveLazily">
			<value>true</value>
		</property>
	</bean>

</beans>
